.body-index {
	background-color: $lg;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.body-prestation {
	background-color: $lg;

}

.body-contact {
	display: grid;
}

.img__logo {
	z-index: 1;
	width: 20vw;
}
.div__bar {
	background-color: $alg;
	z-index: 1; 
	position: relative;
	width: 20vw;
	height: 100vh;
	@media screen and (max-width: 750px) {
		width: 100vw;
		height: 30vh;
	}
}

.prestation__img {
	width: 30vw;
}
.img__contact {
	width: 80vw;
}
