/* HSL */
$lg: hsla(250%, 71%, 92%, 1);
$w: hsla(0%, 0%, 100%, 1);
$beige: hsla(42%, 46%, 75%, 1);
$dg: hsla(0%, 0%, 5%, 1);
$b: hsla(0%, 0%, 0%, 1);

/* RGB */
$alg: rgba(224, 219, 249, 0.5);
$aw: rgba(255, 255, 255, 0.5);
$abeige: rgba(221, 204, 164, 0.5);
$adg: rgba(12, 12, 12, 0.5);
$ab: rgba(0, 0, 0, 0.5);
